@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --Verde: #C7F2AB;
    --Azul: #1668E8;
    --Preto: #000000;
    --Cinza: #F7F7F7;
    --Branco: #FFFFFF;

    --FontePrimaria: 'Inter', sans-serif;
    --FonteSecundaria: 'Work Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.promocao {
    display: flex;
    justify-content: center;
    background-color: var(--Verde);
}
.paragrafo_promocao {
    font-size: 14px;
    background-color: var(--Verde);
    margin-top: 17px;
    margin-bottom: 17px;
    font-family: var(--FontePrimaria);
    font-weight: 400;
}
.botao_promocao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: var(--Branco);
    border: 2px solid var(--Preto);
    border-radius: 16px;
    width: 70px;
    height: 30px;
    font-family: var(--FonteSecundaria);
    background-color: var(--Azul);
    margin-right: 10px;
    margin-top: 9px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.365);
}
.cabecalho {
    padding: 10px;
}
.cabecalho_menu {
    display: flex;
    align-items: center;
}
.logoN {
    color: var(--Azul);
    font-family: var(--FontePrimaria);
    font-size: 34px;
    margin-left: 100px;
    margin-right: 270px;
}
.cabecalho_menu_botao {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 5px;
}
.cabecalho_pesquisa {
    display: flex;
    background-color: var(--Branco);
    border: solid 1px;
    border-radius: 50px;
    width: 150px;
    margin-left: 25px;
}   
.cabecalho_search {
    border: none;
    height: 32px;
    width:110px;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2px;
}
.fa-solid {
    margin-top: 10px;
    margin-left: 11px;
}
.cabecalho_menu_link {
    margin-right: 40px;
    text-decoration: none;
    width: 45px;
    font-family: var(--FontePrimaria);
}
.img_roxo{
    float: right;
    margin-top: -109px;
}
.img_celular {
    width: 28%;
    float: right;
    margin-right: 110px;
}
#main_img img {
    display: flex;
}
.main_paragrafo {
    font-family: var(--FontePrimaria);
    font-size: 15px;
    font-weight: 400;
    margin-left: 114px;
    margin-top: 45px;
    display: flex;
}
.img_mao {
    display: flex;
    margin-left: 216px;
    margin-top: -21px;
    width: 22px;
}
.titulo_main {
    font-family: var(--FontePrimaria);
    font-weight: 600;
    font-size: 50px;
    margin-left: 112px;
}
.SegundoParagrafo_main {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 17px;
    margin-left: 115px;
    margin-right: 730px;
    display: flex;
    margin-top: 20px;
}
.email_main {
    display: flex;
    background-color: var(--Branco);
    border: solid 1px;
    border-radius: 50px;
    width: 150px;
    margin-left: 113px;
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 110px;
}
.botao_main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 400px;
    margin-top: -43px;
}
.patrocinios {
    background-color: var(--Azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    z-index:1;
    padding-top: 25px; 
    padding-bottom: 25px;
}
.img_stripe {
    width: 5%;
}
.img_google{
    width: 7%
}
.img_sansung {
    width: 9%
}
.img_visa {
    width: 5%
}
.img_spotify {
    width: 8%
}
.img_linkedin {
    width: 7%
}
.img_zoom {
    width: 8% 
}
.titulo_informacao {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 150px;
}
.paragrafo_info {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    margin-left: 285px;
    margin-right: 285px;
    margin-top: 20px;
}
.grafico_info {
    display: flex;
    width: 70%;
    margin-top: 40px;
    margin-left: 190px;
}
.blocos_info {
    width: 65%;
    margin-top: 200px;
    margin-left: 230px;
}
.bloco1_info2 {
    width: 37%;
    margin-left: 124px;
    margin-top: 100px;
}
.bloco2_info2 {
    width: 37%;
    margin-left: 75px;
    margin-top: 100px;
}
.bloco3_info2 {
    width: 37%;
    margin-left: 124px;
}
.bloco4_info2 {
    width: 37%;
    margin-left: 75px;
}
.titulo_bloco1_informacao {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    display: flex;
    margin-left: 124px;
    margin-right: 750px;
    margin-top: 40px;
}
.titulo_bloco2_informacao {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    display: flex;
    margin-left: 670px;
    margin-top: -58px;
    margin-right: 250px;
}
.paragrafo_bloco1_info {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    margin-left: 124px;
    margin-top: 20px;
    margin-right: 660px;
    font-size: 15px;
    display: flex;
}
.paragrafo_bloco2_info {
    display: flex;
    margin-left: 670px;
    margin-top: -58px;
    margin-right: 120px;
    font-size: 15px;
    font-family: var(--FontePrimaria);
    font-weight: 400;
}
.info_botao {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 124px;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}