@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --Verde: #C7F2AB;
    --VerdeRodape: #A3DC2F;
    --Azul: #1668E8;
    --Preto: #000000;
    --Cinza: #F7F7F7;
    --CinzaEscuto: #65676C;
    --Branco: #FFFFFF;

    --FontePrimaria: 'Inter', sans-serif;
    --FonteSecundaria: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.promocao {
    display: flex;
    justify-content: center;
    background-color: var(--Verde);
}

.paragrafo_promocao {
    font-size: 14px;
    background-color: var(--Verde);
    margin-top: 17px;
    margin-bottom: 17px;
    font-family: var(--FontePrimaria);
    font-weight: 400;
}

.botao_promocao {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    color: var(--Branco);
    border: 2px solid var(--Preto);
    border-radius: 16px;
    width: 70px;
    height: 30px;
    font-family: var(--FonteSecundaria);
    background-color: var(--Azul);
    margin-right: 10px;
    margin-top: 9px;
    box-shadow: 0px 3px rgba(0, 0, 0, 0.365);
}

.cabecalho {
    padding: 10px;
}

.cabecalho_menu {
    display: flex;
    align-items: center;
}

.logoN {
    color: var(--Azul);
    font-family: var(--FontePrimaria);
    font-size: 34px;
    margin-left: 100px;
    margin-right: 270px;
}

.cabecalho_menu_botao {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 5px;
}

.fa-solid {
    margin-top: 10px;
    margin-left: 11px;
}

.cabecalho_menu_link {
    margin-right: 40px;
    text-decoration: none;
    width: 45px;
    font-family: var(--FontePrimaria);
}
.botao_mobile {
    display: none;
}

.img_roxo {
    float: right;
    margin-top: -109px;
}

.img_celular {
    width: 32%;
    float: right;;
    margin-right: 100px;
    margin-top: -345px;
}

#main_img img {
    display: flex;
}
.img_celular_main {

}
.main_paragrafo {
    font-family: var(--FontePrimaria);
    font-size: 15px;
    font-weight: 400;
    margin-left: 114px;
    margin-top: 45px;
    display: flex;
}

.img_mao {
    display: flex;
    margin-left: 216px;
    margin-top: -21px;
    width: 22px;
}

.titulo_main {
    font-family: var(--FontePrimaria);
    font-weight: 600;
    font-size: 50px;
    margin-left: 112px;
}

.SegundoParagrafo_main {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 17px;
    margin-left: 115px;
    margin-right: 730px;
    display: flex;
    margin-top: 20px;
}

.cabecalho_pesquisa {
    display: flex;
    background-color: var(--Branco);
    border: solid 1px;
    border-radius: 50px;
    width: 150px;
    margin-left: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.cabecalho_search {
    border: none;
    height: 32px;
    width: 110px;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.email_main {
    display: flex;
    background-color: var(--Branco);
    border: solid 1px;
    border-radius: 50px;
    width: 150px;
    margin-left: 113px;
    margin-top: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 110px;
}

.botao_main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 400px;
    margin-top: -43px;
}

.patrocinios {
    background-color: var(--Azul);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 130px;
    z-index: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}

.img_stripe {
    width: 5%;
}

.img_google {
    width: 7%
}

.img_sansung {
    width: 9%
}

.img_visa {
    width: 5%
}

.img_spotify {
    width: 8%
}

.img_linkedin {
    width: 7%
}

.img_zoom {
    width: 8%
}

.titulo_informacao {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    justify-self: center;
    align-self: center;
    margin-left: 445px;
}

.paragrafo_info {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    text-align: center;
    font-size: 17px;
    margin-left: 279px;
    margin-top: 20px;
    margin-right: 281px;
}

.grafico_informacao {
    display: flex;
    justify-content: center;
}

.grafico_info {
    display: flex;
    width: 70%;
    margin-top: 40px;
}

.blocos3_bab {
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.blocos_info1 {
    margin-top: 200px;
    width: 27%;
}

.blocos_info2 {
    margin-top: 200px;
    width: 27%;
    margin-left: 20px;
}

.blocos_info3 {
    margin-top: 200px;
    width: 27%;
    margin-left: 20px;
}

.titulo_informacao_4blocos {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-top: 100px;
    margin-left: 494px;
}

.paragrafo_informacao_4blocos {
    margin-top: 15px;
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 15px;
    margin-left: 396px;
}

.dois_primeiros_blocos img {
    width: 37%;
    margin-top: 100px;
}

.bloco_info_1 {
    margin-left: 117px;
}

.bloco_info_2 {
    margin-left: 90px;
}

.titulo_bloco_1e2_info {
    display: flex;
    margin-top: 20px;
}

.titulo_1_info {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-left: 115px;
}

.titulo_2_info {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-left: 200px;
}

.paragrafo_bloco_1e2_info {
    display: flex;
    margin-top: 15px;
}

.paragrafo_bloco_1_info {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 15px;
    margin-left: 115px;
}

.paragrafo_bloco_2_info {
    margin-left: 95px;
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 15px;
}

.dois_primeiros_botoes {
    display: flex;
}

.info_botao_1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 115px;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.info_botao_2 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 395px;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.dois_ultimos_blocos img {
    width: 37%;
    margin-top: 60px;
}

.bloco_info_3 {
    margin-left: 117px;
}

.bloco_info_4 {
    margin-left: 90px;
}

.titulo_bloco_3e4_info {
    display: flex;
    margin-top: 20px;
}

.titulo_3_info {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-left: 115px;
}

.titulo_4_info {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-left: 330px;
}

.paragrafo_bloco_3e4_info {
    display: flex;
    margin-top: 15px;
}

.paragrafo_bloco_3_info {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 15px;
    margin-left: 115px;
}

.paragrafo_bloco_4_info {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 15px;
    margin-left: 120px;
}

.dois_ultimos_botoes {
    display: flex;
}

.info_botao_3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 115px;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.info_botao_4 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-left: 395px;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.texto_colorodo_e_imagem_preta h1 p {
    display: flex;
}

.texto_colorido {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-top: 110px;
    margin-left: 110px;
}

.destaque {
    color: var(--Azul);
}

.paragrafo_pequeno {
    margin-left: 110px;
    margin-top: 15px;
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 10px;
    color: var(--CinzaEscuto);
}

.img_retangulo_preto {
    width: 70%;
    margin-left: 103px;
}

.botoes_setas {
    display: flex;
}

.seta_esquerda {
    margin-left: 890px;
    width: 35px;
}

.seta_direita {
    margin-left: 10px;
    width: 35px;
}

.perguntas h2 p img {
    display: flex;
}

.titulo_perguntas {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.paragrafo_perguntas {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    color: var(--CinzaEscuto);
    font-size: 13px;
}

.linha {
    margin-left: 155px;
    margin-top: 30px;
}

.pergunta1 {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 180px;
    display: flex;
}

.mais {
    width: 60px;
    display: flex;
    margin-left: 1050px;
    margin-top: -45px;
}

.linha2 {
    margin-left: 155px;
    margin-top: 10px;
}

.paragrafo_pergunta {
    font-family: var(--FontePrimaria);
    font-weight: 400;
    color: var(--CinzaEscuto);
    font-size: 13px;
    margin-left: 180px;
    margin-top: 15px;
}

.botao_X {
    width: 60px;
    display: flex;
    margin-left: 1050px;
    margin-top: -105px;
}

.linha3 {
    margin-left: 155px;
    margin-top: 80px;
}

.quadrado_verde {
    border: solid var(--Verde);
    background-color: var(--Verde);
    border-radius: 16px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 100px;
}

.titulo_quadrado {
    font-family: var(--FontePrimaria);
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.paragrafo1_quadrado {
    display: flex;
    justify-content: center;
    font-family: var(--FontePrimaria);
    font-weight: 400;
    margin-top: 20px;
}

.paragrafo2_quadrado {
    display: flex;
    justify-content: center;
    font-family: var(--FontePrimaria);
    font-weight: 400;
    margin-top: 5px;
}

.final_quadrado {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.quadrado_search {
    display: flex;
    background-color: var(--Branco);
    border: solid 1px;
    border-radius: 50px;
    width: 150px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 30px;
    margin-top: -35px;
    padding-right: 150px;
}

.quadrado__botao1 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid var(--Azul);
    color: var(--Branco);
    background-color: var(--Azul);
    text-decoration: none;
    font-family: var(--FontePrimaria);
    border-radius: 50px;
    width: 120px;
    height: 40px;
    margin-top: -4px;
    margin-left: -128px;
}

.rodape {
    background-color: var(--Azul);
    margin-top: 100px;
    padding-top: 60px;
    padding-bottom: 20px;
}

.rodape_conteudo {
    display: flex;
    justify-content: space-evenly;
}

.coluna_icon {
    display: flex;
    flex-direction: column;
}

.coluna_company {
    display: flex;
    flex-direction: column;
}

.coluna_SupportUs {
    display: flex;
    flex-direction: column;
}

.coluna_Resources {
    display: flex;
    flex-direction: column;
}

.coluna_Address {
    display: flex;
    flex-direction: column;
}

.linha_rodape {
    margin-left: 155px;
    margin-top: 30px;
}

.paragrafo_rodape_final {
    display: flex;
    justify-content: center;
    font-family: var(--FontePrimaria);
    color: var(--Branco);
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
}

.link_rodape {
    text-decoration: none;
    color: var(--Branco);
    font-family: var(--FontePrimaria);
    font-size: 12px;
    margin-top: 20px;
}

.destaque_verde {
    color: var(--VerdeRodape);
}

.paragrafo_rodape {
    color: var(--Branco);
    font-family: var(--FontePrimaria);
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
}

.titulo_secundario_rodape {
    color: var(--Branco);
    font-weight: 400;
    font-family: var(--FontePrimaria);
    font-size: 15px;
}

.titulo_rodape {
    color: var(--Branco);
    font-weight: 600;
    font-family: var(--FontePrimaria);
    font-size: 15px;
}

.botao_rodape {
    text-decoration: none;
    border: solid var(--Branco);
    background-color: var(--Branco);
    color: var(--Preto);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: var(--FontePrimaria);
    font-size: 12px;
    width: 65%;
    font-weight: 700;
    margin-top: 20px;
}

.icon_branco {
    width: 70%;
}

.icons_rodape {
    margin-top: 20px;
    width: 60%;
}

@media (max-width: 768px) {
    .promocao {
        display: none;

    }

    #cabecalho_menu_links a {
        display: none;
    }

    #main_img .img_roxo {
        display: none;
    }
    .cabecalho_pesquisa {
        display: none;
    }
    .logoN {
        color: var(--Azul);
        font-family: var(--FontePrimaria);
        font-size: 34px;
        margin-left: 15px;
        margin-right: 0;
    }
    .cabecalho_botao {
        margin-left: 390px;
    }
    .botao_mobile {
        display: flex;
        margin-left: 5px;
    }
    .text_main {
        flex-direction: column;
    }
    .img_celular {
        width: 20%;
    }
    .titulo_main {
        font-size: 30px;
    }
}